<section class="bg-[url(https://images.unsplash.com/photo-1501520158826-76df880863a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)] bg-cover bg-center bg-no-repeat bg-blue-400">
  <div
    class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
  >
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl text-white">
        BlackYeti
        <strong class="text-xl font-extrabold text-white sm:block">
          Help your house
        </strong>
      </h1>


      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <a
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-red-500 shadow focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
          href="#"
        >
          Ask a Yeti
        </a>
      </div>
    </div>
  </div>
</section>
